body {
    padding : 0;
    margin: 0;
    font-family: Myriad Pro, sans-serif;
}
div {
    box-sizing: border-box;
}
header {
    background: #DB5940;
    height: 80px;
    color: white;
    min-width: 1920px;

}
section {
    min-width: 1920px;
}
.container {

    /*border: 10px solid black;*/
    margin: 0 auto;
    width: 1920px;
}
h2 {
    text-align: inherit;
}
.sitename {

    float: left;
    font-size: 24px;
    margin: 40px 0 35px 0;

}
nav{
    float:right;
    margin: 40px 0 35px 0;
}
.topmenu {
    padding: 0;
    margin: 0;
    display: block;
}
.topmenu li {
    float: left;
    display: block;
    margin-right: 43px;
    font-size: 16px;
}
.topmenu a {
    color: #fff;
    text-decoration: none;
}
section#upptitle{
    height: 140px;
    background: #38373B;
    margin: 0;
}
.title h1 {
    margin: 0;
    font-size: 30px;
    padding: 46px 0 0 0 ;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.title p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

section#mainpicture{
    height: 400px;
    background: url(img/picturebck.png) no-repeat center top / cover;
    margin: 0;
}
.mainpicture_image {
    background: url(img/titlepic.png) no-repeat center top / cover;
    height: 400px;
}

section#quotes {
    height: 420px;
    background: url(img/bck2.png) no-repeat center top / cover;
    margin: 0;
    text-align: center;
}
/*SECTION QUOTES*/
.quote {
    height: 260px;
    width: 370px;
    text-align: center;
    margin: 80px 30px 80px 0;
    display: inline-block;
    align-content: center;
    border: 1px solid black;
    padding: 0 36px 0 36px;

}

.quote-image {

    height: 100px;
    width: 100px;
    border-radius: 50px 50px 50px 50px;
    margin: 0 auto 34px auto;
}
.quoteimage1 {
    background: url(img/Heart.png) no-repeat center top;
}
.quoteimage2 {
    background: url(img/Pencil.png) no-repeat center top;
}
.quoteimage3 {
    background: url(img/Flag.png) no-repeat center top;
}
.quotepanel {
    margin:0 0 0 375px;
    padding: 80px 35px 0 28px;
    float: left;

}

.quote-title {
    margin: 0 0 29px 0;
    font-size: 28px;
}
.quote-p {
    font-size: 16px;
    margin: 0 0 31px 0;
}
.quote-arrow {
    background: url(img/turn-right.png) no-repeat center top /cover;
    height: 9px;
    width: 20px;
    margin: 0 auto;
}
/*END SECTION QUOTES*/

/*SECTION MAININFO*/
section#maininfo {
    height: 622px;
    background: #fff;
    margin: 0;
    text-align: center;
    padding: 80px 0 80px 0;
    box-sizing: border-box;
}

.left-infopanel-block {
    float: right;
    text-align: right;
}
.right-infopanel-block {
    float: left;
    text-align: left;
}

.infopanel {
    height: 462px;
    width: 570px;
    text-align: left;
    display: inline-block;
    margin: 0 30px 0 0;
}

.infoblock {
    height: 200px;
    width: 570px;
    margin: 0 0 30px 0;
}

.infoblock-image {
    width: 200px;
    height: 200px;
    border-radius: 100px 100px 100px 100px;
    margin: 0;
    float:inherit;
}

.infoblockimage1 {
    background: url(img/infoimg1.png) center top no-repeat;
}
.infoblockimage2 {
    background: url(img/infoimg2.png) center top no-repeat;
}
.infoblockimage3 {
    background: url(img/infoimg3.png) center top no-repeat;
}
.infoblockimage4 {
    background: url(img/infoimg4.png) center top no-repeat;
}
.infoblock-textblock {
    margin: 40px 31px 0 31px;
    width: 304px;
    display: inline-block;
    float:inherit;
    text-align: inherit;
}
.infoblock-textblock-h2 {
    font-size: 28px;
    margin: 0 0 31px 0;
    padding: 0;
}
.infoblock-textblock-p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.infoblock-textblock-a {
    font-size: 16px;
    text-decoration: none;
    color: #db5940;
    padding: 0;
}

footer {
    max-height: 522px;
    background: url(img/footerbck.png) no-repeat center top / cover;
    padding: 80px 0 0 0;
    min-width: 1920px;
}
.contact-panel {
    text-align: center;
    height: 148px;
}
.contact {

    height: 70px;
    width: 370px;
    margin: 0 30px 79px 0;
    display: inline-block;

}
.contact-img {
    width: 70px;
    height: 70px;
    border-radius: 35px 35px 35px 35px;
    float: left;
    margin: 0 30px 0 0;
}
.left-contact-image {
    background: url(img/paperplane.png) no-repeat center top / cover;

}
.contact-text {
    padding: 14px 0 0 0;
    float: left;
}
.contact-text-p {
    margin:  0 15px 0 0;
    width: 255px;
    font-size: 16px;
    text-align: left;
    color: #8A8892;
}
.horizontal-line {
    height: 1px;
    border-top: 1px solid #4F4E53;
}

.footer-title {
    margin: 60px auto 0 auto;
    text-align: center;
    font-size: 26px;
    color: #E6E6E6;
}
.input-panel {
    width:589px;
    margin: 30px auto 0 auto;
}
.footer-email-line {
    height: 46px;
    max-height: 46px;
    width: 454px;
    border-radius: 5px 0 0 5px;
    border: 0;
    background: #DB5940;
    color: #fff;
    margin: 0;
    padding: 0 0 0 16px;
    font-size: 16px;
}
.footer-send-button {
    font-size: 18px;
    height: 46px;
    max-height: 46px;
    margin: 0 0 0 -3px;
    padding: 0;
    width: 115px;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #DB5940;
    background: #fff;
}
.copyright {
    margin: 40px 0 0 0;
    text-align: center;
    color: #9A98A2;
}
.credentials {
    text-align: center;
}
.designed-by-orange {
    color: #DB5940;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    display: inline;
}
.designed-by-white {
    margin: 0;
    padding :0;
    color: #9A98A2;
    font-size: 16px;
    text-decoration: none;
    display: inline;
}
.horizontal-line-down {
    height: 2px;
    border-top: 1px solid #fff;
}