body {
    padding : 0;
    margin: 0;
    font-family: "Myriad Pro", sans-serif;

}
div {
    box-sizing: border-box;
}

section {
    min-width: 1920px;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

/*LOGO-MAIN-MENU-PANEL-START*/
.menu-logo-panel {
    background: #DB5940;
    height: 80px;
    max-height: 80px;
    min-width: 1920px;

}

.site-name {
    margin: 32px 0 0 0;
    float: left;
    font-size: 24px;
    display: inline-block;
    color: #fff;
}

.main-menu{
    float:right;
    margin: 35px 0 35px 0;
}

.main-menu-element {
    float: left;
    display: inline-block;
    margin:0 43px 0 0;
    text-decoration: none;
}

.main-menu-element:last-child {
    margin: 0;
}

.main-menu-ref {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.main-menu-ref:hover {
    font-weight: 700;
}

.main-menu-ref:active {
    color: #4F4E53;
}
/*LOGO-MAIN-MENU-PANEL-END*/


/*TITLE-SECTION-START*/
.title-section{
    max-height: 540px;
    background: #38373B;
    margin: 0;
    padding: 46px 0 0 0;
}

.main-title {
    margin: 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.main-undertitle {
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.main-picture {
    margin: 50px 0 0 0;
    background: url(img/titlepic.png) no-repeat center top / cover;
    height: 400px;

}
/*TITLE-SECTION-END*/


/*SECTION QUOTES*/
.quotes-section {
    height: 420px; /*420*/
    background: #F4F4F4;
    margin: 0;
}

.quote:last-child {
    margin: 80px 0 80px 0;
}

.quote {
    height: 260px;
    width: 370px;
    margin: 80px 30px 80px 0;
    padding: 0 36px 0 36px;
    text-align: center;
    display: block;
    float: left;
}

.quote-image {
    height: 100px;
    width: 100px;
    border-radius: 50px 50px 50px 50px;
    margin: 0 auto 34px auto;
}

.quote-title {
    margin: 0 0 29px 0;
    padding: 0;
    font-size: 28px;
}

.quote-p {
    font-size: 16px;
    padding: 0;
    margin: 0 0 20px 0;
}

.quote-link {
    min-height: 9px;
    max-height: 10px;
    min-width: 20px;
    max-width: 21px;
    margin: 0 auto;
    display: block;
}

.link-init-image-arrow {
    background: url(img/turn-right-orange.png) no-repeat center top /cover;
}

.link-init-image-arrow:hover {
    background: url(img/turn-right-grey.png) no-repeat center top /cover;
}

.link-init-image-arrow:active {
    background: url(img/turn-right-black.png) no-repeat center top /cover;
}

.image-heart {
    background: url(img/Heart.png) no-repeat center top;
}

.image-pencil {
    background: url(img/Pencil.png) no-repeat center top;
}

.image-flag {
    background: url(img/Flag.png) no-repeat center top;
}
/*END SECTION QUOTES*/


/*START SECTION MAININFO*/
/*section = left&right info-panel, info-panel = 2 horiz info-blocks*/
.main-info-section {
    min-height: 622px;
    margin: 0;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
}

.info-panel {
    height: 462px;
    width: 570px;
    text-align: left;
    display: inline-block;
    margin: 80px 26px 80px 0;
}

.info-panel:last-child {
    margin: 80px 0 80px 0;
}

.left-panel-block {
    float: right;
    text-align: right;
}

.right-panel-block {
    float: left;
    text-align: left;
}

.info-block {
    height: 200px;
    width: 570px;
    margin: 0 0 30px 0;
}

.info-block-image {
    width: 200px;
    height: 200px;
    border-radius: 100px 100px 100px 100px;
    margin: 0;
    float:inherit;
}

.info-block-textblock {
    margin: 40px 31px 0 31px;
    width: 304px;
    display: inline-block;
    float:inherit;
    text-align: inherit;
}

.info-block-textblock-h2 {
    font-size: 28px;
    margin: 0 0 31px 0;
    padding: 0;
}

.info-block-textblock-p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.info-block-textblock-a {
    font-size: 16px;
    text-decoration: none;
    color: #db5940;
    padding: 0;
}

.info-block-textblock-a:hover {
    color: #38373B;
}

.info-block-textblock-a:active {
    color: #000000;
}

.image-boy {
    background: url(img/boy.png) center top no-repeat;
}

.image-birds {
    background: url(img/birds.png) center top no-repeat;
}

.image-statue {
    background: url(img/statue.png) center top no-repeat;
}

.image-tree {
    background: url(img/tree.png) center top no-repeat;
}
/*END SECTION MAININFO*/


/*START SECTION-CONTACTS-SUBSCRIBE-CREDENTIALS*/
.contacts-subscribe-creds-section {
    max-height: 522px;
    background: url(img/footerbck.png) no-repeat center top / cover;
    padding: 80px 0 0 0;
    min-width: 1920px;
}

.contact-panel {
    text-align: center;
    height: 148px;
}
.contact {

    height: 70px;
    width: 370px;
    margin: 0 25px 79px 0;
    display: inline-block;
}
.contact:last-child {
    margin: 0 0 79px 0;
}

.contact-img {
    width: 70px;
    height: 70px;
    border-radius: 35px 35px 35px 35px;
    float: left;
    margin: 0 30px 0 0;
}

.left-contact-image {
    background: url(img/paperplane.png) no-repeat center top / cover;

}

.contact-text {
    padding: 14px 0 0 0;
    float: left;
}

.contact-text-p {
    margin:  0 15px 0 0;
    width: 255px;
    font-size: 16px;
    text-align: left;
    color: #8A8892;
}

.horizontal-line {
    height: 1px;
    border-top: 1px solid #4F4E53;
}

.footer-title {
    margin: 60px auto 0 auto;
    text-align: center;
    font-size: 26px;
    color: #E6E6E6;
}

.input-panel {
    width:589px;
    margin: 30px auto 0 auto;
}

.footer-email-line {
    height: 46px;
    max-height: 46px;
    width: 454px;
    border-radius: 5px 0 0 5px;
    border: 0;
    background: #DB5940;
    color: #fff;
    margin: 0;
    padding: 0 0 0 16px;
    font-size: 16px;
}

.footer-send-button {
    font-size: 18px;
    height: 46px;
    max-height: 46px;
    margin: 0 0 0 -3px;
    padding: 0;
    width: 115px;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #DB5940;
    background: #fff;
}

.footer-send-button:hover {
    background: #4F4E53;
}

.footer-send-button:active {
    background: #DB5940;
    color:black;
}

.copyright {
    margin: 40px 0 0 0;
    text-align: center;
    color: #9A98A2;
}

.credentials {
    text-align: center;
}

.designed-by-orange {
    color: #DB5940;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    display: inline;
}

.designed-by-white {
    margin: 0;
    padding :0;
    color: #9A98A2;
    font-size: 16px;
    text-decoration: none;
    display: inline;
}

.horizontal-line-down {
    height: 2px;
    border-top: 1px solid #fff;
}

.design-link:hover {
    color: #fff;
}

.design-link:active {
    color: #000000;
}
/*END SECTION-CONTACTS-SUBSCRIBE-CREDENTIALS*/